//general styling
body,
html,
* {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

main {
    background-image: url('../images/Dimond_Pattern.png');
    background-repeat: repeat;
    background-size: contain;

}

// ----------------------navbar-------------------
#navbar ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
}

#navbar ul li a {
    text-decoration: none;
    padding: 0 1em;
    color: #fff;
}

#navbar ul li a:hover {
    color: rgb(0, 126, 210);
}

#navbar {
    padding: 1.5em 0;
    background: #000; //we can remove this later
    position: fixed;
    width: 100%;
    z-index: 100;
}

// ------------------------------Sections Containers------------------------------------------
.home,
.about,
.gallery,
.contact {
    //position: relative;
    width: 100%;
    //height: 800px;

    h1 {
        //position: relative;
        //top: 100px;
        //margin-top: 100px;
        //width: 80%;
        //padding: 2em;
        color: #02B0F0;
        text-align: center;
    }

}

// ------------------------------Home Containers------------------------------------------

img#desg {
    display: block;
    position: relative;
    width: 55%;
    height: auto;
    margin: 0 auto;
}

.box1 {
    text-align: center;
}

.myname {
    font-size: 10vw;

}

// ------------------------------About Containers------------------------------------------
.wrapper {
    display: flex;
.me{
    max-width: 100%;
}
    img#bao {
        width: 50%;
        height: auto;
        padding: 1.5em;
    }

    p {
        width: 50%;
        // margin: 0;
        padding: 1.5em;
        // display: flex;
        // text-align: right;
    }
}


img #butter {
    width: 10%;
    transform: rotate(-20deg);
}



.two {
    margin: 0;
    padding: 20px;

}

// ------------------------------Gallery Containers------------------------------------------




.wrapperGallery {
    display: flex;
    // flex-direction: column-reverse;

    img#butter2 {
        width: 10%;
        transform: rotate(20deg);
    }



    .burgerCover {
        width: 25%;
        height: auto;
        margin-right: 20px;
        padding: 1.5em;
    }

    p {
        width: 50%;
        // margin: 0;
        padding: 1.5em;
        // display: flex;
        // text-align: right;  
    }



}




//-------------------------Media Query------------------------//


@media screen and (max-width: 600px) {
    .wrapper {
        display: flex;
        flex-direction: column;

        img #bao {
            width: 80%;
            height: auto;
            padding: 2em;
        }

        p {
            width: 100%;
            padding: 1em;
            //font-size: 1.25em;
            //text-align: left;
        }
    }
}

@media (min-width: 900px) {
    .wrapper {
        display: flex;
        flex-direction: row-reverse;
        

        

        .me {
            width: 100%;
        }
        #bao {
            max-width: 50%;
            height: auto;
            padding: 2em;
        }
        
.text 
        p {
            width: 100%;
            padding: 1em;
            //font-size: 1.25em;
            //text-align: left;
        }
    }

}